body{
    width: 100%;
    align-content: center;
}

header{
    text-align: center;
}

#questionRender{

    background-color: gray;
    height: 400px;
    text-align: center;
    color: white;
    padding-top: 80px;
    height: 685px;
}

.answerOne{
width: 400px;
float: left;
margin-top: 10px;
margin-right: 336px;
margin-left:0px;
text-align: center;
background-color: blue;
}

.answerTwo{
width: 400px;
float: right;
margin-top: 10px;
background-color: blue;
}

.answerThree{

width: 400px;
float: left;
margin-top: 10px;
margin-right: 336px;
margin-left:0px;
text-align: center;
background-color: blue;
}

.answerFour{

width: 400px;
float: right;
margin-top: 10px;
background-color: blue;

}

h3{
    color: rgb(0, 0, 0);
    background-color: wheat;
    text-align: center
}

.pCSS{
    text-align: center;
	border: groove 2px black;
	border-radius: 5%;
	margin: 0 35%;
}

.pCSS:hover{
    background-color: green;
    color: white;
}

img{
    width: 200px;
    height: 200px;
}